install.packages("devtools")
install.packages("R6")
install.packages("httpuv")
install.packages("rprojroot")
install.packages("Rcpp")
install.packages(“dplyr”)
install.packages("tuber")
devtools::install_github("soodoku/tuber", build_vignettes = TRUE)
vignette("tuber-ex", package="tuber")
library(tuber)
library(dplyr)
yt_oauth("576764074171-icp885ubnrgjsiin4al8uemn6kjl4s0l.apps.googleusercontent.com","TeqZisD7sYBSyzjPQKbpr24I", token="") #acessando a conta de desenvolvedores do google
idcanaisEUA <- c("UCBR8-60-B28hp2BmDPdntcQ",	"UC-8Q-hLdECwQmaWNwXitYDw",	"UCANLZYMidaCbLQFWXBC95Jg",	"UC20vb-R_px4CguHzzBPhoyQ",	
"UCY30JRSgfhYXA6i6xX1erWg",	"UCRijo3ddMTht_IHyNSNXpNQ",	"UCp0hYYBW6IMayGgR-WeoCvQ",	"UCSAUGyc_xA8uYzaIVG6MESQ",
"UC7_YxT-KID8kRbqZo7MyscQ",	"UC0VOyT2OCBKdQhF3BAbZ-1g")
for(i in 1:10) {

      videosCanal <- select(yt_search(term="", type="video", channel_id=idcanaisEUA[1]), c(video_id, title, description, publishedAt, liveBroadcastContent, channelId, channelTitle))
      videosCanal$video_id <- levels(droplevels(videosCanal$video_id))

      for(j in 1:nrow(videosCanal)){ 
          if(j==1)
              df_tmp_videos <- get_stats(video_id=videosCanal$video_id[j]) #ao utilizarmos esta função a maioria dos videos 
              não possui uma das colunas do "videosCanal" e obtemos um numero de observações menores do que o esperado,gostariamos de que o R
              colocasse 0 ou NULL nestes itens que o video nao possui ives de apenas nao contar
          else 
              df_tmp_videos <- rbind(df_tmp_videos, get_stats(video_id=videosCanal$video_id[j]))
      }
    videosCanal <- cbind(videosCanal, df_tmp_videos)
}



